/*  */

@media screen and (max-width: 576px) {
  .nav {
    box-shadow: none;
  }
  .nav-section,
  menu ul {
    flex-direction: column;
  }

  .logo {
    justify-content: center;
    margin-bottom: 60px;
  }
  .menu-btn {
    margin-top: 30px;
  }
}

/* tablet view */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-section {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 32px;
  }
}
