/*  */

@media screen and (max-width: 576px) {
  .nav {
    box-shadow: none;
  }
  .nav-section,
  menu ul,
  .online-games-card-container {
    flex-direction: column;
  }

  .logo {
    justify-content: center;
    margin-bottom: 60px;
  }
  .menu-btn {
    margin-top: 30px;
  }

  .banner-container,.play-games {
    flex-direction: column-reverse;
    gap: 20px;
    padding: 10px 10px;
  }
  .banner-content {
    padding: 10px;
    width: 100%;
  }
  .online-games .description {

    margin-bottom: 10px;
  }

  .games-button .btn{
    padding: 5px;
    width: 200px;
  }

  .play-games{
    align-items: start;
    justify-content: space-between;
  }
  .play-games-content{
    text-align: center;
    width: 100%;
    padding: 0;
  }


}

/* tablet view */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-section {
    flex-direction: column;
  }
.play-games{
  height: 100%;
  text-align: center;
}
  .logo {
    margin-bottom: 32px;
  }
  .banner-container,.play-games {
    flex-direction: column-reverse;
  }
  .banner-content {
    padding: 10px;
    width: 100%;
  }
}
